.navbar {
    background: black;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .nav-link {
    font-family: 'Cascadia Code';
    font-size: 20px;
    color: white;
    margin-right: 20px;
    text-decoration: none;
  }

  .home-nav {
    margin-left: 10px;
    font-size: 32px;
  }
  
  .nav-right {
    display: flex;
    align-items: center;
  }
  